<a href="https://colab.research.google.com/github/jacksonns/IMBD-Data-Visualization/blob/main/imbd_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Processing IMDB Datasets

## Downloading datasets

In [ ]:
import urllib
import gzip
import pandas as pd

In [ ]:
def download_and_extract(file_name):
  base_url = 'https://datasets.imdbws.com/'
  url = base_url + file_name + '.gz'
  with urllib.request.urlopen(url) as response:
    # Decompress file
    with gzip.GzipFile(fileobj=response) as uncompressed:
      file_content = uncompressed.read()
    # write to file in binary mode 'wb'
    with open(file_name, 'wb') as f:
      f.write(file_content)

In [ ]:
datasets = ['name.basics.tsv', 'title.akas.tsv', 'title.basics.tsv', 
            'title.crew.tsv', 'title.episode.tsv', 'title.principals.tsv', 
            'title.ratings.tsv']

for file in datasets:
  download_and_extract(file)

Visualizing some of the datasets.

In [ ]:
pd.read_csv('title.basics.tsv', sep='\t').head()

<ipython-input-12-318a26d8453e>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('title.basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
pd.read_csv('title.ratings.tsv', sep='\t').head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

In [ ]:
pd.read_csv('title.crew.tsv', sep='\t').head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N